@use 'partials/variables' as * ;

@import "~bootstrap/scss/bootstrap";

@import './partials/nav';
@import './partials/header';

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}
