nav{
    background-color: $primaryColor;
    text-align: end;

    .sites{
        display: flex;
        gap: 50px;
        justify-content: end;
        align-items: center;

        padding: 8px 0;
        text-transform: uppercase;
        color: white;

    }
}